
.page-footer {
background: #212121;
padding-top: 60px;
padding-bottom: 60px;
}
.page-footer__box{
display: flex;
}
.footer{
margin-right: 70px;
}

.footer-logo{
display: inline-block;
padding: 0px;
margin-bottom: 20px;
text-decoration: none;
color: #FFFFFF;
font-family: Raleway, suns-serif;
font-size: 26px;
line-height: 1.14;
}

.nav-container
address{
font-style: normal;
font-size: 14px;
font-weight: normal;
line-height: 24px;
}
.nav-container__adress{
text-decoration: none;
font-size: 14px;
line-height: 1.71; 
font-style: normal;
color: #FFFFFF;
}
.link-footer{
color: rgba(255, 255, 255, 0.6);
font-family: Roboto;
font-size: 14px;
line-height: 24px;
text-decoration: none;
display: inline-block;
position: relative;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-container__link{
margin-top: 9px;
font-size: 14px;
line-height: 1.71; 
font-style: normal;
text-decoration: none;
color: rgba(255, 255, 255, 0.6);
}
.nav-container__tel{
margin-top: 9px;
font-size: 14px;
line-height: 1.71; 
font-style: normal;
text-decoration: none;
color: rgba(255, 255, 255, 0.6);
}
.nav-container .link{
color: #FFFFFF;
}
.nav-container .link:hover,
.nav-container.link:focus{
color:#FFFFFF;
}

.follow + .follow{
margin-left: 93px;
}
.follow__title{
color: #FFFFFF;
font-size: 14px;
line-height: 16px;

margin-bottom: 20px;
}
.follow-container{
display: flex;

}
.follow-container__box + .follow-container__box{
margin-left: 10px;
} 
.follow-container__link{  
width: 44px;
height: 44px;
background: rgba(255, 255, 255, 0.1);
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;

transition-duration: 250ms;
transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
}

.follow-container__icon{
fill: #FFFFFF;
height: 20px;
width: 20px;

transition-duration: 250ms;
transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);

}
.follow-container__link:hover .follow-container__icon {
background-color:#2196F3;
fill:#FFFFFF
}
.follow-container__link:focus .follow-container__icon{  
background-color:#2196F3;
fill:#FFFFFF
}
.follow-container__link:hover ,
.follow-container__link:focus {  
background-color:#2196F3;
}

.join{
justify-content: center;
align-items: center;
}
.join__lable{
font-size: 12px;
line-height: 14px;
color: #757575;
display: block;
margin-bottom: 4px;
}
.join__input{
outline: none;
width: 358px;
height: 50px;
padding-left:16px;
padding-right: 16px;
color: #FFFFFF;
border: 1px solid rgba(255, 255, 255, 0.3);
box-sizing: border-box;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
background-color: transparent;
}